.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.browser-controls {
  display: flex;
  flex-direction: column;
  background-color: #f1f3f4;
  border-bottom: 1px solid #dadce0;
}
